{% extends "socialaccount/base.html" %}
{% load djfrontend %}
{% block head_css %}
{% djfrontend_normalize %}
{% djfrontend_twbs_css %}
{% endblock %}

{% load i18n %}

{% block title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block body_content %}
<div class="container">
<header class="jumbotron subhead">
<h1>{% trans "Social Network Login Failure" %}</h1>
</header>
<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
</div>
{% endblock %}
