{% extends "eagle_design/base.html" %}
{% load static from staticfiles %}

{% block title %}About Us{% endblock %}
{% block bodyclass %}static{% endblock %}

{% block header-content %}
        <h4 class="subheader">Vision, Mission, and Team</h4>
{% endblock %}

{% block left-content %}
<br />
<div class="row">

    <div class="panel white-bg">
    <h4>Intros: Give Connection!</h4>
    <p>Our <b>vision</b> for Intros is to enable anyone to build a network that creates extraordinary opportunities and solves important problems.</p> 
    <p>Our <b>mission</b> is to improve human connections, by helping people be more generous with their networks.</p>
    </div>

    <p>We believe giving good introductions is one of the most powerful ways to foster meaningful and transformative human connections. We also think introductions are often missed opportunities: if we don't give them when we could, when we don't give them as well as we could, when we forget to say thanks for them, or when we don't follow up on our intros, to learn how we can make even better connections. </p>

    <p>Intros are personal, private and often made for our most important connections. We take privacy extremely seriously. We wouldn't use a service that did not and we don't expect you to. Intros enables you to simply track the intros you give and receive. All the content is yours and private to you. And Intros never contacts the people you introduce.</p>

    <h4 class="subheader">You can read more about how it all started on Medium:</h4>

    <p><a href="https://medium.com/p/a0c2ad69b70d" target="_blank">Why a Christmas experiment in gratitude became a startup</a></p>
</div>

{% endblock %}
{% block right-content %}
<div class="row">
    <div class="large-6 columns">
        <div class="panel white-bg">
            <img src="//s3.amazonaws.com/static_intros/eagle/images/robyn_scott_120.jpg">
            <h4>Robyn Scott</h4>
            <h4 class="subheader">Co-founder</h4>
            <ul type=none>
            <li><a href="http://robynscott.org" target="_blank">Website</a>
            <li><a href="https://www.linkedin.com/in/robynscott/" target="_blank">LinkedIn</a>
            <li><a href="https://twitter.com/robynscott" target="_blank">@robynscott</a>
            </ul>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="panel white-bg">
            <img src="//s3.amazonaws.com/static_intros/eagle/images/alex_lovelltroy_120.jpg">
            <h4>Alex Lovell-Troy</h4>
            <h4 class="subheader">Co-founder</h4>
            <ul type=none>
            <li><a href="http://lovelltroy.org" target="_blank">Website</a>
            <li><a href="https://www.linkedin.com/in/alexlovelltroy/" target="_blank">LinkedIn</a>
            <li><a href="https://twitter.com/alexlovelltroy" target="_blank">@alexlovelltroy</a>
            </ul>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="large-6 columns">
        <div class="panel white-bg">
            <img src="//s3.amazonaws.com/static_intros/eagle/images/adam_grant_120.jpg">
            <h4>Adam Grant PhD</h4>
            <h4 class="subheader">Advisor</h4>
            <ul type=none>
            <li><a href="https://mgmt.wharton.upenn.edu/profile/1323/" target="_blank">Website</a>
            <li><a href="https://www.linkedin.com/in/profadamgrant/" target="_blank">LinkedIn</a>
            <li><a href="https://twitter.com/adammgrant" target="_blank">@AdamMGrant</a>
            </ul>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="panel white-bg">
            <img src="//s3.amazonaws.com/static_intros/eagle/images/pascal_finette_120.jpg">
            <h4>Pascal Finette</h4>
            <h4 class="subheader">Advisor</h4>
            <ul type=none>
            <li><a href="http://finette.com" target="_blank">Website</a>
            <li><a href="https://www.linkedin.com/in/pfinette/" target="_blank">LinkedIn</a>
            <li><a href="https://twitter.com/alexlovelltroy" target="_blank">@pfinette</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

