{% extends 'eagle_design/base_auth.html' %}

{% block header-content %}
<h1>Log in to Intros.to</h1>
{% endblock %}

{% block left-content %}
{% if form.errors %}
<p class="error">Authentication error</p>
{% endif %}

<form action="{% url "eagle_login" %}" method="post" class="custom">
  {% for field in form %}
  <p>
    {{ field.label_tag }} {{ field }}
    {{ field.errors }}
  </p>
  {% endfor %}
  <p><input type="submit" value="Login" /></p>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
