{% extends "eagle_design/base.html" %}
{% load static from staticfiles %}
{% load email_address_tags %}
{% load compressed %}

{% block json_variables %}
{% autoescape off %}
<script>
INTRO_TOTALS = {{ totals_json }}
</script>
{% endautoescape %}
{% endblock %}
{% block title %}{{ page_obj.paginator.count }} Intros in Context {% endblock %}

{% block header-content %}
    <h1>Your {{ page_obj.paginator.count }} intros in context</h1>
    <h2>Just bcc or forward intros made or received to my@intros.to</h2>
{% endblock %}

{% block left-content %}
{% if page_obj.number == 1 %}
{% if next_actions %}
<h4>Actions</h4>
<section class="actions">

{% for object in next_actions|slice:":4" %}
{% include "eagle_design/partials/dash_action_item.html" %}
{% endfor %}

</section>
{% endif %}
{% endif %}
<h4>{% if page_obj.number == 1 %}Recent {% endif %} {{ object_list|length }} Intros{% if is_paginated %} of {{ page_obj.paginator.count }} total{% endif %}</h4>
<section class="recent-intros-feedback">
    {% for object in object_list %}
    <div class="feedback-item{% if object.made %} made{% else %} received{% endif %}">
        <div class="avatars">
            {% for introducee in object.introducees.with_emails %}
            <a href="{% url "eagle_dashboard_user" introducee.email_address %}"><img src="{{ introducee.email_address|gravatar:40 }}" class="avatar-tiny"></a>
            {% endfor %}
        </div>
        <div class="feedback-content">
            {% if object.made %}
            <h3>You made Intro #{{ object.sequence }} between {{ object.printable_introducee_list }}</h3>
            {% else %}
            <h3>{{ object.from_addr|fullname }} made Intro #{{ object.sequence }} for {{ object.printable_introducee_list }}</h3>
            {% endif %}
            <p>{{ object.message|truncatewords:18 }}<br \><a href="{% url "eagle_introduction_user_detail" object.sequence %}">See More</a></p>
        </div>
    </div>
    {% endfor %}
</section>
<div class="row">
    <div class="large-6 columns">
        {% if page_obj.has_previous %}
        <h4><a href="{% url "eagle_dashboard" %}?page={{ page_obj.previous_page_number }}"> &lt; previous {{ object_list.count }} Intros</a></h4>
        {% endif %}
    </div>
    <div class="large-6 columns">
        {% if page_obj.has_next %}
        <h4><a href="{% url "eagle_dashboard" %}?page={{ page_obj.next_page_number }}"> next {{ object_list.count }} Intros &gt; </a></h4>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block right-content %}
<h4>{% block graphtitle %}Your intros at a glance{% endblock %}</h4>
<section class="graphs">
    <div class="graph" id="intros-made-this-week"></div>
    <div class="graph" id="intros-received-this-week"></div>
    <div class="graph" id="intros-made-last-week"></div>
    <div class="graph" id="intros-received-last-week"></div>
    <div class="graph" id="intros-made-all-time"></div>
    <div class="graph" id="intros-received-all-time"></div>
</section>

{% block who-you-introduce %}
<h4>Who you introduce most</h4>
<section class="most-introduced">
    <div class="most-introduced-item">
        {% for introducee in introducee_popularity %}
            {% include "eagle_design/partials/dash_introducee_item.html" %}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% endblock %}

{% block page-js %}
<!--Underscore.js-->
<script src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/underscore/underscore-min.js"></script>

<!--Mustache.js-->
<script src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/mustache/mustache.js"></script>

<!--Flot.js-->
<!--[if IE]><script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/excanvas.min.js"></script><![endif]--> 
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/jquery.flot.stack.js"></script>
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/jquery.flot.selection.js"></script>
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/flot/jquery.flot.tooltip.js"></script>
<script language="javascript" type="text/javascript" src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/eagle/dashboard.js"></script>

{% endblock %}
