{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}({{ page_obj.paginator.count }}) Intros - Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="//d18rm8cl8msm70.cloudfront.net/eagle/stylesheets/app.a1dcbf1ad.css">
  


  <script src="//d18rm8cl8msm70.cloudfront.net/eagle/javascripts/vendor/custom.modernizr.js"></script>

  <!--Open Sans Condensed + Google Fonts-->
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>


  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10415910-4']);
  _gaq.push(['_setDomainName', 'intros.to']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
{% if user.is_staff %}
  _gaq.push(['_setVar','exclude_me']);
{% endif %}

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block opengraph %}
<meta property="og:title" content="Intros.to"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://intros.to"/>
    <meta property="og:image" content="{% static "images/logobeta.png" %}"/>
    <meta property="og:site_name" content="Intros.to"/>
    <meta property="og:description"
          content="Simply track and increase the power of your intros. Intros help unlock hidden value in networks to solve important problems
                   "/>
{% endblock %}
{% if auto_reload %}
<meta http-equiv="refresh" content="{{ auto_reload }}">
{% endif %}
  <!--Open Sans Condensed + Google Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
{% block json_variables %}
{% endblock %}
</head>
{% block mybody %}
{% endblock %}
</html>
