{% extends 'eagle_design/base.html' %}

{% block title %}Intros Update: Track intros you receive, ultra simple feedback, network insights{% endblock %}

{% block bodyclass %}static{% endblock %}

{% block header-content %}
<h1>November 2013 Update</h1>
<h2>Track intros you receive, ultra simple feedback, network insights</h2>
{% endblock %}

{% block left-content %}
<h3 class="subheader">WHAT'S NEW IN BRIEF</h3>
<ul>
<li><b>You can now track and follow up on intros you receive as easily as those you make.</b></li>
<li><b>There's no need to leave your email client to interact with Intros.</b></li>
<li><b>More and better insights into the key people in your network and a brand new dashboard.</b></li>
</ul>


<h3 class="subheader">GRATITUDE FOR INTROS YOU'RE GIVEN</h3>

<p>Now, by tracking the intros you're given - as well as those you give - you'll never forget to thank those who generously help you with intros.</p>

<h4 class="subheader">Why is this so important?</h4>

<p>Most people say thanks when they receive an intro. But by the time most intros have led to something amazing, almost everyone simply forgets to tell the very person who made it possible. Finding out randomly that something cool has happened drives connectors crazy. There’s no faster way to lose goodwill. If you do follow up six months later, and share what’s happened because of a kind intro, people are insanely surprised and delighted. There’s no faster way to build goodwill.</p>

<h4 class="subheader">So next time you receive an intro, simply forward it to <a href="mailto:my@intros.to">my@intros.to</a>.</h4>

<p>We’ll send you a reminder in 10 days, and again in 6 months, to follow up and say thanks. You can turn these reminders on or off at any time.</p>


<h3 class="subheader"> DO MORE FROM YOUR EMAIL </h3>

<p>Again and again, we've heard that stories are the most important part of assessing how an intro has developed. And hearing these stories is a great way to engage and build more meaningful relationships with the people you connected. So, we built a new system that is all based on email.</p>

<p>This is how it works:</p>

<p>1. We'll remind you to ask if your intro was helpful</p>

    <p class="indent">Ten days after you make an intro, we’ll send you an email reminder. Simply reply to this with a quick “Hey, how did it go?” style message. Your message goes directly to the person you made the intro for.</p>

<p>2. Replies delivered to your inbox</p>

    <p class="indent">When they receive your message, they can simply reply in the email. Their comment will be emailed straight back to you. Your Intros account will also store a record.</p>

<p>3. Let the connection develop, then check in again</p>

    <p class="indent">Six months later, we’ll send you another reminder like this. You can turn these reminders on or off at any time.</p>


<h3 class="subheader"> INSIGHTS INTO YOUR NETWORK </h3>

<p>When you record an intro, we’ll send you a quick confirmation email, which includes information on how many intros you’ve already made for, and received from, the people involved. </p>

<p>This isn’t about keeping score. Sometimes we simply don’t notice how much someone is doing to help us. So we forget to help out the people who matter most. Why not try it now?</p>

<p>You can also view lots of insights about your intros and your contacts in our brand new dashboard. https://intros.to/dashboard</p>


<h3 class="subheader">Support Us</h3>


<p>We want to build a great product that helps people make and receive awesome intros that solve important problems. When we think about creating a "premium account" we have to start thinking about questions like: do only premium users get this feature? should premium users get more of that feature than others?...  Right now, that slows us down when we’re focused on building a great product - for everyone. Your support will help us go even faster.</p>

<a href="https://intros.to/support" class="button medium">Support Us</a>


<h3> COMING SOON </h3>

<p>A Gmail app that reminds you to record intros as you make and receive them.</p>

<p>Tips on how to give and get great intros, including from our amazing new advisor Adam Grant, the bestselling author of Give and Take, and the most generous connector we’ve ever met.</p>


{% endblock %}
