{% extends "eagle_design/base.html" %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block header-content %}
    <h1>Frequently Asked Questions</h1>
{% endblock %}

{% block left-content %}
<br />
<div class="faq-items">
<ol>
<li>
<p class="question">What are you trying to do with Intros?</p>
<p class="answer">In a world where we have no shortage of connections, measured by number, we're fascinated by two questions. How do we strengthen important connections? And how do make not just more - but more powerful - new connections? We think this starts by helping connectors, the magicians of networks, to make even better intros. To do this we help them track their intros, easily ask what happens and, through seeing more, unlock the power of their networks to help others. If you receive an intro, we also make it easy and fun to say thanks.</p>
<p class="answer">You can read all about our creation story on <a href="https://medium.com/p/a0c2ad69b70d" target="_blank" title="Why a Christmas experiment in gratitude became a startup
And what happens when we see where generosity leads">Medium</a></p>
</li>
<li>
<p class="question">How do I join Intros?</p>
<p class="answer">Intros is in closed beta. We don’t know when we’re going to open to everyone. We first have much to learn from our early users - generous and artful connectors - about how to help them make great intros. If you’re a connector and want to try Intros, you can ask one of our users for an invite, or ask us at <a href="mailto:team@intros.to">team@intros.to</a>. Or, if someone asks you for feedback on an intro, you’ll get an invite with their request.</p>
</li>
<li>
<p class="question">I often forget to BCC when I make an intro. Can I forward previous intros to my@intros.to?</p>
<p class="answer">Yes! You can forward as many old intros as you like.  </p>
</li>
<li>
<p class="question">I’ll still forget! Can you build a Gmail app that prompts me to record an Intro?</p>
<p class="answer">It's one of our highest priority features. (If you want to help, let us know.)</p>
</li>
<li>
<p class="question">Can I tag or categorise my intros?</p>
<p class="answer">Great idea!  We're working on that.</p>
</li>
<li>
<p class="question">Is there a way to track intros made for me?</p>
<p class="answer">Not yet, but there will be soon. You’ll be able to record intros made for you. And if you get our Pro Connector plan, you’ll also be able to see, for any person, all the connections they’ve made for you and all the connections you’ve made for them.  </p>
</li>
<li>
<p class="question">Can you build intros templates that makes it easy to send an intro?</p>
<p class="answer">We know this is important: good can intros take a long time to make. We’d love to help make it faster and more fun to make intros. We’re interested in your ideas of how to do this.  <br /><br />Based on some suggestions, we blogged some guidelines you that might help:<br /><a href="https://medium.com/p/f0cc3bbf171f">How to give super-powered thanksgiving intros.</a></p>
</li>
<li>
<p class="question">Can I send emails from multiple email accounts?</p>
<p class="answer">Yes. Just add each email you make intros from to your account in your email settings.</p>
</li>
<li>
<p class="question">If I BCC my@intros.to when I make an intro, will you contact the people I introduce?</p>
<p class="answer">Absolutely not.</p>
<p class="answer">We take privacy extremely seriously. We will never contact the people you introduce, unless you ask them for feedback. The intros you make are visible only to you, in your dashboard. If you decide to close your account, we’ll export all your data and then delete it all. Our privacy policy has more information. If you have other questions, please drop us an email at <a href="mailto:team@intros.to">team@intros.to</a> </p>
</li>
<li>
<p class="question">When I ask someone for feedback on an intro, what will they see?</p>
<p class="answer">They’ll get an incredibly brief and charming email with a unique link to a page where they can click a beautiful slider to say how they felt about your intro, or leave a quick comment about what happens. We’ve been surprised by how much people like sharing what happened. More than 50% of intros where connectors ask for feedback receive feedback. And people are pretty honest: they say when it wasn’t a great intro, which our users find just as valuable as the many exciting stories of global domination thanks to their connections.</p>
</li>
<li>
<p class="question">I’d love some cool data visualisation of my intros. When can I see this?</p>
<p class="answer">We’d love it too. And we will get there but this one might take a while. Meantime, why not record an intro, so you’ll have even better data when we build epic data visualisation!  </p>
</li>
</ol>
<p>Any more questions, email us on <a href="mailto:team@intros.to">team@intros.to</a></p>
</div>
{% endblock %}

{% block right-content %}
{% endblock %}
