{% extends 'eagle_design/base.html' %}
{% block title %}Your year in Review{% endblock %}

{% block header-content %}
    <h1>Review My Year of Gmail</h1>
    <h2>Share your gmail with us and find new introductions</h2>
{% endblock %}
{% block left-content %}
<div class="panel white-bg">
    <h1><span>Scan my Gmail</span></h1>
    <p>We can scan your gmail to tell you who you contact most, introduce most, and even record introductions you've made previously</p>
    <p>Our system only looks at the recipients and subject lines of emails and doesn't examine the contents of *any* e-mail unless you specifically ask us to register the introductions we find.<p>
        {% for job in gmail_import_jobs %}
        <form method=post action="{% url "delete_gmail_job" %}">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{job.id}}"/>

        <p>{{ job.id }} {{job.started|timesince}} ago {% if job.completed %} to {{ job.completed|timesince }} ago{% endif %} - {{ job.messages.count }} {{ job.total_emails }} from {{ job.mailbox }} <input type="Submit" value="Delete" /></p>
        </form>
        {% endfor %}
</div>
<div class="row">
            <div class="panel">
            {% if gmail_auth %}
                <form method="POST" action="/gmail/review/">
                    {% csrf_token %}
                    <input type=submit class="button large radius" value="Start Scan" />
                </form>
            {% else %}
                <a href="/associate/google-oauth2" class="button large radius">Authorize Gmail</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block right-content %}
{% endblock %}
