{% extends "eagle_design/base.html" %}
{% load email_address_tags %}

{% block title %}Intros.to - contacts{% endblock %}
{% block header-content %}
<h2>{{ page_obj.paginator.count }} contacts{% if total_intros %} in your {{ total_intros }} intros{% endif %}</h2>
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{% url "eagle_contacts" %}?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url "eagle_contacts" %}?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
{% endblock %}
{% block left-content %}
                <section class="contacts">
                    {% for object in object_list %}
                    <div class="contact-item">
                        <a href="{% url "eagle_dashboard_user" object.email_address %}">
                        <div class="large-1 columns"><img src="{{ object.email_address|gravatar:40 }}" class="right" /></div>
                        <div class="large-11 columns"><p>{{ object.introduction_count }} Intro{{ object.introduction_count|pluralize }} involving {% if object.full_name %}{{ object.full_name }}{% else %}{{ object.email_address }}{% endif %}</p></div>
                        </a>
                    </div>
                    {% endfor %}
                </section>
{% endblock %}
{% block sidebar %}
{% endblock %}
