{% extends 'eagle_design/base.html' %}
{% load avatar_tags %}
{% load static from staticfiles %}

{% block title %}Intros.to - {{ object.subject }}{% endblock %}

{% block body_id %}introduction{% endblock %}

{% block header-content %}
    <div class="row">
            <h1 class="subheader">Record your new Intro</h1>
            <h2 class="subheader">Make note of where you were when you made or received this intro.</h2>
    </div>
{% endblock %}

{% block left-content %}
    <br />
    <div class="small-9 columns small-centered panel">
        <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <div class="row">
            <div class="small-11 columns"><input class="medium button radius right" type="submit" value="Add Introduction" /></div>
        </div>
        </form>
    </div>
{% endblock %}
