{% extends 'eagle_design/base.html' %}
{% block title %}Invite Connectors{% endblock %}
{% block header-content %}
<div class="row>">
    <h1>Invite other connectors</h1>
    <h2 class="subheader">And help more people give and receive great intros</h2>
</div>
{% if valid_invitations %}
<div class="row">
    <p> You've so far invited <span data-tooltip class="has-tip" title="{% for addr in valid_invitations %}{{ addr }}, {% endfor %}">{{ valid_invitations|length }} people</span></p>
</div>
{% endif %}
{% endblock %}
{% block left-content %}
    <br />
    <div class="small-9 columns small-centered">
        <form method=POST class="custom">
        {% csrf_token %}
        {{ form }}
        <h4 class="subheader">We'll include an invite to Intros beneath your message</h4>
        <div class=panel>
        <p>Here's your personal invitation to join Intros: </p>
        <p>[Personalized invitation link]
        <br />

        </div>
        <input type=submit value="Invite!" class="button medium right"/>
        </form>
    </div>
{% endblock %}
