{% extends 'eagle_design/base.html' %}
{% block title %}Welcome to Intros{% endblock %}
{% block header-content %}
<h1>Welcome {{ user.first_name }}!</h1>
{% endblock %}
{% block left-content %}
        <h4>You're ready to track your first intro!</h4>
        <div class="panel white-bg">
        <p>Simply bcc <a href="mailto:my@intros.to">my@intros.to</a> the next time you make an introduction or forward old introductions to the same address.</p>
        <p>It doesn't matter if it's an introduction you made for someone else, or one that you've received, forwarding to <a href="mailto:my@intros.to">my@intros.to</a> is the best way to record it.</p>
        <p>The more intros you record, the better Intros will get at helping you understand and increase the impact of your intros.</p>
        <a href="{% url "introduction_dashboard" %}" class="button medium">Continue</a>
        </div>
        <p>Introductions are often delicate and made for your most important contacts.<br />
        We respect this: we will <strong>NEVER</strong> contact the people you introduce.</p>
{% endblock %}

{% block right-content %}
<div class="panel white-bg">
    <h4>Start by introducing yourself</h4>
    <p>Click the button below to open an email to the founders and BCC my@intros.to.  This is a great way for you to test out Intros and we'd love to hear from you.</p>
    <a href="mailto:alex@intros.to?cc=robyn@intros.to&bcc=my@intros.to&subject=Introducing%20Myself" class="button small secondary round">Email Us</a>
</div>
{% endblock %}
