{% extends 'eagle_design/base_auth.html' %}

{% block title %}Intros.To - Password Reset{% endblock %}

{% block header-content %}
<h1>Reset Your Password to Intros.to</h1>
{% endblock %}

{% block left-content %}
{% if form.errors %}
<p class="error">Authentication error</p>
{% endif %}

<form method="post" class="custom">
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }} {{ field }}
    {{ field.errors }}
  </p>
  {% endfor %}
  <p><input type="submit" value="Reset" /> </p>
</form>
{% endblock %}
