{% extends 'eagle_design/base.html' %}

{% block header-content %}
    <h1 class="subheader">{{ user.first_name }}'s Password</h1>
{% endblock %}

{% block left-content %}
<br />
<div class="row">
    <div class="nine columns centered panel white-bg">
        <h3>Your password has been changed</h3>
        <a class="button medium round" href="{% url "eagle_settings" %}">Other Settings</a>
    </div>
    <small class="right">To deactivate your account, email us at support@intros.to</small>
</div>
<br />
{% endblock %}
