{% extends 'eagle_design/base.html' %}
{% load static from staticfiles %}
{% load cache %}
{% block title %}Pay it Forward with Intros.to{% endblock %}
{% block opengraph %}
{% endblock %}

{% block header-content %}
{% cache 600 pifheader %}
      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
      <p><img src="//s3.amazonaws.com/static_intros/eagle/images/payitfwdbanner.png" /></p>
  {% endcache %}
{% endblock %}
{% block left-content %}
{% cache 600 pifprivacycontent %}
    <div class="row">
        <h4>Privacy and the Pay it Forward Experiment</h4>

            <p>We take your privacy very seriously.  The emails that you record will not be shared in any way, and will be completely deleted when the experiment is over.  We'll never contact the people you introduce.</p>

            <p><b>1.</b> When you bcc payitfwd@intros.to the experiment "counts" this as a Pay it Forward intro. The content remains entirely private to you and Intros NEVER contacts the people you introduce. </p>
 
            <p><b>2.</b> If you don't already have an account with Intros - which helps you track all the intros you give and receive - we'll also send you an invite to join.</p>

            <p><b>3.</b> If you accept the invite, you'll have a record of your Pay It Forward Intro (and any others you make) in your account. Think of it as Evernote for your intros.</p>

            <p><b>4.</b> If you don't join Intros after 30 days we will delete your Pay It Forward email from our system.</p>
        
            <p>Intros.to is very proud of our stance on privacy.  We <b>resepect</b> it.  See our <a href="/privacy">full privacy policy</a> and send us any improvements you can think of.

            <p>If we haven't convinced you, and you really don't want to use the BCC, please just send us an email to <a href="mailto:team@intros.to">team@intros.to</a> and let us know you made an intro. We'll count it by hand!</p>
    </div>
   <div class="row">
       <h5>Any questions? email <a href="mailto:robyn@intros.to">Robyn</a> or <a href="mailto:alex@intros.to">Alex</a></h5>
   </div>
  {% endcache %}
{% endblock %}

{% block right-content %}
{% cache 300 pifrightcontent %}
{% if today < startdate %}
<h1>{{startdate|timeuntil}} until launch</span></h1>
{% else %}
<h1>{{ payitfwdcount }} Pay it Forward Intros Created</h1>>
{% endif %}
<h4 class="subheader">This giving experiment kicks off on 3rd December, Giving Tuesday.</h4>
<a href="#" data-reveal-id="join_us_modal" class="button">Learn More</a>
<p>(We'll let you know when it starts and how to join)</p>
{% comment %}
<a href="mailto:giving@intros.to" class="button">Join our experiment</a>
<h1>{{ payitfwdcount|default:10 }}</h1>
<h4>Pay it Forward Intros Created</h4>
{% endcomment %}
{% endcache %}
{% endblock %}

{% block support-footer %}
<footer>
    <div class="row">
        <div class="large-12 columns">
            <div class="text-right">
                <a href="/FAQ">F.A.Q</a>
                <a href="https://twitter.com/introsto" target="_blank" title="TWITTER"><i class="icon-twitter"><img src="http://static_introductiones.s3.amazonaws.com/images/twitter.png" alt=""></i> @introsto</a>
                <a href="https://twitter.com/search?q=%23payitfwdintros" target="_blank" title="TWITTER"><i class="icon-twitter"><img src="http://static_introductiones.s3.amazonaws.com/images/twitter.png" alt=""></i> #payitfwdintros</a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block modals %}
<div class="reveal-modal" id="join_us_modal">
    <form method=post class=custom action={% url "pif_subscribe" %}>
        {% csrf_token %}
        <h4>Enter your email to hear when the campaign launches and learn how to take part</h4>
        <label for=name>Name</label>
        <input type=text placeholder="John Doe" name=name id=name></input>
        <label for=email>Email Address</label>
        <input type=text placeholder="john.doe@example.com" name=email id=email></input>
        <input type=submit class="button" value="Join us"></input>
    </form>
     <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

