{% extends 'eagle_design/base.html' %}
{% block title %}Welcome to the Pay it Forward Challenge with Intros{% endblock %}
{% block header-content %}
<div id="pifheader">
    <h1>Welcome to the Christmas Pay it Forward Intros Experiment</h1>
    <h2>Bcc: payitfwd@intros.to #payitfwd</h2>
</div>
{% endblock %}
{% block left-content %}
        <h4>Make your next intro a pay it forward intro</h4>
        <div class="panel white-bg">
        <p>Next time you make an intro, simply BCC <a href="mailto:payitfwd@intros.to">payitfwd@intros.to</a> and include the text below. (easy to copy and paste)</p>
        <div class="row">
            <div class="large-4 columns">
            {% include 'eagle_design/partials/pif_textarea.html' %}
            </div>
        </div>
        </div>
        <p>Introductions are often delicate and made for your most important contacts.<br />
        We respect this: we will <strong>NEVER</strong> contact the people you introduce.</p>
{% endblock %}

{% block right-content %}
{% include 'eagle_design/partials/pif_counter_panel.html' %}
{% endblock %}
{% block support-footer %}
{% endblock %}
