{% extends "eagle_design/base.html" %}

{% block title %}Intros.to - Privacy Policy{% endblock %}
{% block bodyclass %}static{% endblock %}

{% block header-content %}
    <h1>Privacy Policy</h1>
{% endblock %}

{% block left-content %}
<br />
<br />
<h3 class="subheader">In legal language</h3>
<script src="https://gist.github.com/alexlovelltroy/6237746.js"></script>
{% endblock %}

{% block right-content %}
<br />
<br />
<h3 class="subheader">In clear language</h3>
    <p>If we didn't have to worry about legal language, our privacy policy would read like this...</p>

    <blockquote>In order to help you track your introductions, we need access to your personal information, but we still consider it *yours* and treat it accordingly.  Any time we want to use any data you've given us, including your name and contact info, for anything other than providing you better service, we'll ask you *first*.</blockquote>

    <p>Since we're told by people with smart legal minds that *our* version wouldn't hold up in court, here's our full privacy policy written by an actual lawyer.</p>
    <p>You can leave us feedback and suggest changes on <a href="https://gist.github.com/alexlovelltroy/6237746">Github</a></p>
{% endblock %}
