{% extends 'eagle_design/base_auth.html' %}

{% block title %}Intros.To - Request an Invitation{% endblock %}

{% block header-content %}
{% if not form.errors %}
<h1>Request your invitation to Intros</h1>
{% else %}
<h3>You're almost done.</h3>
{% endif %}
{% endblock %}

{% block left-content %}

<div class=row>
    <div class="large-9 centered columns">
<form action="/invite/request" method="post" class="custom">
    {% csrf_token %}
  {% for field in form %}
  <div class="large-6 columns{% if field.errors %} error{% endif %}">
    {{ field.label_tag }} {{ field }}
    {% for error in field.errors %}
    <small>{{error}}</small>
    {% endfor %}
  </div>
  {% endfor %}
  <p><input  class="button medium" type="submit" value="Request an Invitation" /></p>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{% endblock %}
