{% extends 'eagle_design/base.html' %}

{% block title %}Intros.to Resources{% endblock %}

{% block header-content %}
<h1>Resources</h1>
{% endblock %}

{% block left-content %}
<br />
<div class="resource-items">
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/give_and_take.jpg">
        <h4>A revolutionary approach to success</h4>
        <p>Adam Grant shows how giving, including giving connections, is a surprisingly effective strategy for long term success.</p>
        <div class="resource-label">
            <h5><a href="http://giveandtake.com" title="giveandtake.com">Book</a></h5>
            <h6 class="subheader">Giving and success</h6>
            <h6 class="subheader"><a href="https://twitter.com/AdamMGrant" title="twitter.com/AdamMGrant">@AdamMGrant</a></h6>
        </div>
        </div>
    </div>
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/AdamRifkin.jpg">
        <h4>How the world's top relationship builder makes introductions</h4>
        <p>Michael Simmons explains the three principles of Adam Rifkin, legendarily connected entrepreneur and investors.</p>
        <div class="resource-label">
            <h5><a href="http://www.forbes.com/sites/michaelsimmons/2013/08/22/how-the-worlds-top-relationship-builder-makes-introductions/" title="forbes.com">Forbes Column</a></h5>
            <h6 class="subheader">Introductions</h6>
            <h6 class="subheader"><a href="https://twitter.com/michaeldsimmons" title="twitter.com/michaeldsimmons">@michaeldsimmons</a></h6>
            <h6 class="subheader"><a href="https://twitter.com/ifindkarma" title="twitter.com/ifindkarma">@ifindkarma</a></h6>
        </div>
        </div>
    </div>
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/super_connector.jpg">
        <h4>The rise of the superconnector</h4>
        <p>Shane Snow explains how, when the social media world is messy and crowded, it pays to know super connectors.</p>
        <br />
        <br />
        <br />
        <div class="resource-label">
            <h5><a href="http://www.fastcompany.com/3007657/rise-superconnector" title="fastcompany.com">FastCompany Column</a></h5>
            <h6 class="subheader">Relationship Building</h6>
            <h6 class="subheader"><a href="https://twitter.com/shanesnow" title="twitter.com/shanesnow">@shanesnow</a></h6>
        </div>
        </div>
    </div>
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/divers.jpg">
        <h4>The douple opt in introduction</h4>
        <p>VC Fred Wilson explains why he always follows the intro etiquette of asking both sides if they are happy to be connected.</p>
        <br />
        <br />
        <div class="resource-label">
            <h5><a href="http://www.avc.com/a_vc/2009/11/the-double-optin-introduction.html" title="avc.com">Blog Post</a></h5>
            <h6 class="subheader">Introductions</h6>
            <h6 class="subheader"><a href="https://twitter.com/fredwilson" title="twitter.com/fredwilson">@fredwilson</a></h6>
        </div>
        </div>
    </div>
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/bcc_blog.jpg">
        <h4>I'm moving you to BCC</h4>
        <p>VC Mark Suster talks about the politeness of moving people to BCC, how to say no, and more.</p>
        <br />
        <br />
        <br />
        <div class="resource-label">
            <h5><a href="http://www.bothsidesofthetable.com/2010/03/02/im-moving-you-to-bcc/" title="bothsidesofthetable.com">Blog Post</a></h5>
            <h6 class="subheader">Introductions</h6>
            <h6 class="subheader"><a href="https://twitter.com/msuster" title="twitter.com/msuster">@msuster</a></h6>
        </div>
        </div>
    </div>
    <div class="resource">
        <div class="content">
        <img src="//s3.amazonaws.com/static_intros/eagle/images/robyn_blog.jpg">
        <h4>How making my tasks emotional increased my productivity</h4>
        <p>Our co-founder, Robyn Scott, experiments with creating a ‘highly helpful’ task list for introductions.</p>
        <div class="resource-label">
            <h5><a href="https://medium.com/understandings-epiphanies/a88ad971cef8" title="medium.com">Intros Blog</a></h5>
            <h6 class="subheader">Productivity</h6>
            <h6 class="subheader"><a href="https://twitter.com/robynscott" title="twitter.com/robynscott">@robynscott</a></h6>
        </div>
        </div>
    </div>
</div>
{% endblock %}
