{% extends 'eagle_design/base.html' %}
{% load avatar_tags %}

{% block header-content %}
    <h1 class="subheader">{{ user.first_name }}'s Profile</h1>
{% endblock %}

{% block left-content %}
<br />
<div class="row">
    <div class="nine columns centered panel white-bg">
    <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <div class="row">
        <div class="small-5 columns small-centered">
            <input class="medium button radius right" type="submit" value="Update" />
        </div>
    </div>
    </form>
    </div>
    <small class="right">To deactivate your account, email us at support@intros.to</small>
</div>
<br />
{% endblock %}
