{% extends "eagle_design/base.html" %}

{% block title %}Intros.to - Terms and Conditions{% endblock %}
{% block bodyclass %}static{% endblock %}

{% block header-content %}
        <h1>Terms of Service</h1>
{% endblock %}

{% block left-content %}
<br />
<ol>
<li>Introduction
<p>Thank you for visiting Intros.to, an online service which allows its Users to track introductions.  Please read these Terms of Service and our Privacy Policy carefully, as you must agree to both as a condition of using our Service.</p>
</li>
<li>Definitions
<p>
    Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them.  The list is not all-encompassing and no definition should be considered binding to the point that it renders this Agreement nonsensical:
</p>
<p>
    &ldquo;Agreement&rdquo; means these Terms of Service;
</p>
<p>
    &ldquo;Intros&rdquo; refers to our company, known as &ldquo;Intros.to Ltd&rdquo;; our Site; our Service; or a combination of all or some of the preceding definitions, depending on the context of the word;
</p>
<p>
    &ldquo;Service&rdquo; refers to the services that we provide through our Site, including our introduction tracking and feedback services;
</p>
<p>
    &ldquo;Site&rdquo; refers to our website, intros.to;
</p>
<p>
    &ldquo;User&rdquo; refers to users who send introductions, are introduced, or are simply visiting our Site without any further interaction;
</p>
</li>
<li>What Intros Does
<p>
    Intros allows Users to track introductions they make primarily by e-mail and later request and receive feedback on these introductions, from the people they introduced.  To track or record an introduction Users either
</p>
<ol type="i">
<li>
     BCC or CC an email address (typically my@intros.to),
</li>
<li>
     Forward an intro they have already made to an email address or
</li>
<li>
     Add an introduction manually from their account.
</li>
</ol>
<p>
    Users can also record an introduction that they have received from someone else, by forwarding this email to my@intros.to.  Once an introduction is tracked, Users can request feedback on the introduction from either or both of the people they introduced - via an email request sent from Intros.  They can send a request manually from their account or they can set automatic feedback requests.
</p>
<p>
    A person who receives a feedback request can rate an introduction or leave feedback through a bespoke link they receive in the e-mail request.
</p>
<p>
    Intros does not contact the people who are BCC’d in an introduction.
</p>
</li>
<li>Eligibility
<p>In order to use our Service, you must meet a number of conditions, including but not limited to:</p>
<ul>
<li>
You must not be in violation of any embargoes, export controls, or other laws of the United Kingdom or other countries or supranational bodies having jurisdiction over this Agreement, Intros, and yourself.
</li>
<li>
You must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less than 18 years of age.
</li>
<li>
You must provide us with personal information, payment information, and other information that we deem necessary to provide you with our Service.
</li>
</ul>
</li>
<li>Rules of Use
<p>
    In addition to meeting the above eligibility rules, you must not:
</p>
<ul>
    <li>
        Violate the laws of the United Kingdom, the European Union (including unimplemented directives and treaties), or any foreign political entity having jurisdiction over this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country.
    </li>
    <li>
        Use Intros to facilitate the sending of anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of Intros or its delegates.
    </li>
    <li>
        Use Intros to track unsolicited, harassing, or otherwise unwanted e-mails.
    </li>
    <li>
        Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party.
    </li>
    <li>
        Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Intros Site, Service, or its Users’ computers.
    </li>
</ul>
</li>
<li>Payment
<p>
    Payment can be made by credit card.  You authorize us to rebill your card at the intervals according to the payment terms posted on our <a href="{% url "pricing" %}">Site</a>, which are hereby incorporated into this Agreement by reference.
</p>
</li>
<li>Discounts
<p>
    Intros may offer discounts, including programs where we place a User in a cheaper account temporarily.  Intros may refuse to provide such discounts for any reason including, but not limited to, fraud, mistake on the part of our publication of information, actual or expected financial hardship, sale of all or part of our business, or any other reason.
</p>
</li>
<li>Chargebacks and Credit Card Cancellations
<p>
    If a User conducts a chargeback against Intros, Intros shall be entitled to recover the full amount of that chargeback in the form of liquidated damages, as well as any collection agency fees incurred in enforcing Intros’ rights under this section.
</p>
<p>
    If a credit card used for a subscription is cancelled, Intros may, but is under no obligation to, warn you about the cancellation and give you time to correct your information prior to cancelling your Service.  We may, however, simply cancel access to our Service without any warning.  You are responsible for ensuring that your credit card information is up to date.
</p>
</li>
<li>Our Copyright
<p>
    Intros relies on the uniqueness of its content to distinguish itself from third parties.  You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site without receiving our prior written permission.
</p>
</li>
<li>Your Copyright
Intros must be assured that it has the right to use the content that is posted to its Site by its Users.  Such content may include, but is not limited to, photographs, videos, text, audio, and other materials.  Whenever submitting content to our Site, you agree that you are granting us a non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and otherwise make use of the content that you submit to us (This does not include the content of your introductions or the details of the participants).  You warrant to us that you have the right to grant us this right over the content, and that you will indemnify us for any loss resulting from a breach of this warranty and defend us against claims regarding the same.
</li>
<li>Trademarks
<p>
    &ldquo;Intros&rdquo; is a trademark used by us, Intros.to Ltd., to uniquely identify our Site, Service, and business.  You agree not to use this phrase anywhere without our prior written consent.  Additionally, you agree not to use our trade dress, or copy the look and feel of our website or its design, without our prior written consent.  You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph, including starting your own business which competes with us, whether directly or indirectly.
</p>
</li>
<li>Revocation of Consent
We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, at any time.  You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.
</li>
<li>Representations &amp; Warranties
<p>
We make no representations or warranties as to the merchantability of our service or fitness for any particular purpose. You agree that you are releasing us from any liability that we may otherwise have to you in relation to or arising from this agreement or our services, for reasons including, but not limited to, failure of our service, negligence, or any other tort. To the extent that applicable law restricts this release of liability, you agree that we are only liable to you for the minimum amount of damages that the law restricts our liability to, if such a minimum exists.
</p>
<p>
	You agree that we are not responsible in any way for damages caused by third parties who may use our services, including but not limited to people who commit intellectual property infringement, defamation, tortious interference with economic relations, or any other actionable conduct towards you.
</p>
<p>
	We are not responsible for any failure on the part of a payment processor to direct payments to the correct destination, or any actions on their part in placing a hold on your funds.
</p>
<p>
	We are not liable for any failure of the goods or services of our company or a third party, including any failures or disruptions, untimely delivery, scheduled or unscheduled, intentional or unintentional, on our website which prevent access to our website temporarily or permanently.
</p>
<p>
	The provision of our service to you is contingent on your agreement with this and all other sections of this agreement. Nothing in the provisions of this “representations & warranties” section shall be construed to limit the generality of the first paragraph of this section.
</p>
<p>
    For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.
</p>

<p>
If you are a resident of a jurisdiction that requires a specific statement regarding release then the following applies. For example, California residents must, as a condition of this agreement, waive the applicability of California civil code section 1542, which states, “a general release does not extend to claims which the creditor does not know or suspect to exist in his or her favour at the time of executing the release, which if known by him or her must have materially affected his or her settlement with the debtor." you hereby waive this section of the California civil code. You hereby waive any similar provision in law, regulation, or code that has the same intent or effect as the aforementioned release.
</p>
</li>
<li>Indemnity
<p>
    You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our website or acceptance of the offers contained on it.  You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements.  In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.
</p>
</li>
<li>Choice of Law
<p>
    This Agreement shall be governed by the laws of England and Wales.  The offer and acceptance of this contract are deemed to have occurred in England and Wales.
</p>
</li>
<li>Forum of Dispute
<p>
    You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in England and Wales.  Specifically, where the subject matter of a dispute is eligible for it, you agree that any disputes shall be heard solely by Her Majesty’s Courts and Tribunals Service’s &ldquo;Money Claim Online&rdquo; system (https://www.moneyclaim.gov.uk/web/mcol/welcome) (&ldquo;Small Claims Court&rdquo;).
    If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Court, you agree not to bring the other claims against us and to instead proceed within the Small Claims Court.
    If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your claim within the Small Claims Court.
    You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an additional or alternative remedy in a higher court, such as injunctive relief, you will waive your right to that remedy and still bring the dispute within the Small Claims Court.
    If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.
    You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements, which shall be paid according to the rules of court.
</p>
</li>
<li>Force Majeure
<p>
    You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.
</p>
</li>
<li>Severability
<p>
    In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.
    If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Intros shall have the sole right to elect which provision remains in force.
</p>
</li>
<li>Non-Waiver
<p>
    Intros reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law.  Our non-enforcement of any particular provision or provisions of this Agreement or any applicable law should not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.
</p>
</li>
<li>Termination & Cancellation
<p>
    We may terminate your access to our Site and Service at our discretion without explanation, though we will strive to provide a timely explanation in most cases.  Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.
    Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions of other Users.
</p>
</li>
<li>Assignment of Rights
<p>
    You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent.  We may assign our rights and/or obligations under this Agreement to any other party at our discretion.
</p>
</li>
<li>  Amendments
<p>
    We may amend this Agreement from time to time.  When we amend this Agreement, we will e-mail you that there has been a change.  Your continued use of our Service constitutes your acceptance of any such changes.
</p>
</li>
<li>California Users and Residents
<p>
    Pursuant to California Civil Code Section 1789.3, any questions about pricing, complaints, or inquiries about Intros must be addressed to our agent for notice and sent via certified mail to our agent for service.  For our agent for service’s most up-to-date information, please contact robyn@intros.to.
    Lastly, California users are also entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.
</p>
</ol>
<pre>
Last Modified:  August 4, 2013
</pre>

{% endblock %}



{% block right-content %}
<br />
<h3 class="subheader">Privacy Policy</h3>
<p>We're proud enough of our privacy policy that we share it on github for your comments.  <a href="{% url "eagle_privacy" %}">See it here</a></p>
{% endblock %}

