Django
South
boto
django-avatar
django-classy-mail
django-compressor
django-debug-toolbar
django-frontend-skeleton
django-mailbox
django-ses
django-storages
django-taggit
django-telemetry
django-zurb-foundation
email_reply_parser
gunicorn
markdown
mysql-python
python-social-auth
pyzmail
sphinx
dj-database-url

