
<!-- START SPACER -->
<table width="630" border="0" cellpadding="0" cellspacing="0" class="hr" align="center"  bgcolor="#F9F9F9" >
  <tr>
    <td height="40" align="left" valign="middle"></td>
  </tr>
 </table>
 <!-- END SPACER -->
<!-- START 2 COLUMN -->
<table class="table" width="630" cellspacing="0" cellpadding="0" border="0" bgcolor="#F9F9F9" align="center" >
<tbody>
<tr>
    <td>
        {% with intro=intro1 %}
        {% include "emails/_intro_column.html" %}
        {% endwith %}
        {% with intro=intro2 %}
        {% include "emails/_intro_column.html" %}
        {% endwith %}
        </td>
    </tr>
</tbody>
</table>
<!-- END 2 COLUMN WITH IMAGES -->
