{% load email_address_tags %}
<div class="actions-item{% if object.made %} made{% else %} received {% endif %}" data-introducion-id="{{ object.pk }}">
    <div class="avatars">
        {% for introducee in object.introducees.with_emails %}
        <a href="{% url "eagle_dashboard_user" introducee.email_address %}"><img src="{{ introducee.email_address|gravatar:40 }}" class="avatar-tiny"></a>
        {% endfor %}
    </div>
    <div class="actions-content">
        {% if object.received %}
        <h3>on this intro you received</h3>
        {% elif object.made %}
        <h3>on this intro you made</h3>
        {% else %}
        <h3>on this intro</h3>
        {% endif %}
        {% if object.received %}
        <p>Now is a good time to follow up on the intro you received from <a href="{% url "eagle_introduction_user_detail" object.sequence %}">{{ object.from_addr|fullname }}</a> {{ object.date|dayssince }} ago connecting you with {{ object.printable_introducee_list }}.
        {% elif object.made %}
        <p>It's time to see how things are going after the intro you made between <a href="{% url "eagle_introduction_user_detail" object.sequence %}">{{ object.printable_introducee_list }}</a> that you made {{ object.date|dayssince }} ago.
        {% else %}
        <p>It's time to see how things are going after the intro between <a href="{% url "eagle_introduction_user_detail" object.sequence %}">{{ object.printable_introducee_list }}</a> that you made {{ object.date|dayssince }} ago.
        {% endif %}
    </div>
    <div class="request-feedback">
        <br /><br />
        <a href="{% url "eagle_introduction_request_feedback" object.sequence %}" class="small secondary button">follow up</a>
    </div>
</div>
