{% load cache %}
<nav class="top-bar" data-topbar="hover">
    <ul class="title-area">
        <li class="icon"><a href="/"><img src="https://s3.amazonaws.com/static_intros/eagle/images/ico-globe.png"></a></li>
    </ul>
    <ul class="title-area">
        <li class="name"></li>
    </ul>
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="primary-links left">
            </ul>
            <ul class="right primary-links">
            <li><a href="{% url 'eagle_about' %}">About Us</a></li>
            <li><a href="{% url 'eagle_faq' %}">FAQ</a></li>
{% if user.is_superuser %}
            <li class="has-dropdown">
                <a href="#">Admin</a>
                <ul class="dropdown">
                    <li><a href="/kpi2">KPI Graphs</a></li>
                    <li><label>Useful Links</label></li>
                    <li><a href="/admin/email_integration/rawemail/?parsed__exact=0">Unparsed E-mails</a></li>
                    <li><a href="/admin/invitation/invitation/?reason__isnull=True&user__is_staff__exact=0">Direct Invitations</a></li>
                    <li><a href="/admin/auth/user/?o=-5">Recently Joined Users</a></li>
                    <li><a href="/admin/auth/user/?o=-6">Recently Logged In Users</a></li>
                </ul>
            </li>
{% elif user.is_staff %}
            <li><a href="/kpi2">KPI Graphs</a></li>
{% endif %}
{% if user.is_authenticated %}
          {% if my_addrs %}
          <li class="has-dropdown">
            <a href="#">{{ my_addrs|length }} Verified Emails</a>
            <ul class="dropdown">
              {% for addr in my_addrs %}
              <li><a href="#">{{ addr.email_address }}</a></li>
              {% endfor %}
              <li><a href="/verify">Add another email address</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/verify">Add an email address</a></li>
          {% endif %}
          <li class="has-dropdown">
              <a href="#" class="current-user">
                {% if user.first_name %}{{ user.first_name }}
                {% else %}
                Settings
                {% endif %}
              </a>
            <ul class="dropdown">
              <li><a href="{% url 'eagle_add_intro' %}"><button class="small round">Add an Intro</button></a></li>
              <li><a href="{% url 'eagle_settings' %}">Change your profile</a></li>
              <li><a href="{% url 'eagle_preferences' %}">Change your email preferences</a></li>
              <li><a href="{% url 'eagle_password_change' %}">Change your password</a></li>
              <li><a href="{% url 'our_logout' %}">Log Out</a></li>
            </ul>
            </li>
            <li class="hide-for-medium-down"><a href="{% url 'eagle_invite' %}">Invite Connectors</a></li>
            <li class="hide-for-medium-down"><a target="_blank" href="mailto:support@intros.to?subject=A%20suggestion%20about%20Intros"><button class="small round">Feedback</button></a></li>
{% endif %}
            </ul>
          </section>
</nav>
