@import 'compass/css3';

//- ******************
//- GENERAL VARIABLES
//- ******************

$extra-padding-left: em-calc(12);
$zero: 0;

//- ******************
//- GENERAL MIXIN
//- ******************

//- Position
@mixin position ($pos) {
    position: $pos;
}

//- Align Text
@mixin text-align-hv ($horizontal, $vertical) {
    text-align: $horizontal;
    vertical-align: $vertical;
}

//-Set the header
@mixin set-header($font-family, $font-size, $font-weight, $color, $line-height) {
    
    font: {
        family: $font-family;
        size: $font-size;
        weight: $font-weight;
        color: $color;
    }
    
    line-height: $line-height;

}

//-  Content Padding

$content-padding-left: em-calc(90);

@mixin content-padding ($extra: false) {
    
    @media #{$medium} { 
        @if $extra == true {
            padding-left: $content-padding-left + $extra-padding-left;
        }
        @else {
            padding-left: $content-padding-left;
        }
    }
}


//- ******************
//- GENERAL CLASES
//- ******************

//-Margin = 0
.no-margin {
    margin: $zero;
}

//- Uppercase Text
.uppercase {
    text-transform: uppercase;
}

//- Lowercase Text
.lowercase {
    text-transform: lowercase;
}

.overflow-hidden {
    overflow: hidden;
}

.no-show {
    visible: none;
}

.center {
    text-align: center;
}

//- Avatars

.avatar-tiny {
    width: em-calc(24);
    height: em-calc(24);
}

.avatar-rounded {
    width: em-calc(46);
    height: em-calc(46);
}

//- Arrow to Left on Selected
.draw-arrow-left {
    content: "";
    @include position(absolute);
    top: 20%;
    right: $zero;
    width: $zero;
    height: $zero;
    border-right: em-calc(6) solid $grey-one;
    border-left: none;
    border-top: em-calc(7) solid transparent;
    border-bottom: em-calc(7) solid transparent;
}

ul.errorlist > li {
    @include alert;
}

//- ******************
//-  HEADERS
//- ******************

$font-normal: normal;
$font-bold: bold;
$font-semi-bold: 400;
$font-thin: 500;

//- Header Font Sizes
$h1-font-size: em-calc(18);
$h2-font-size: em-calc(25);
$h3-font-size: 0.8em;
$h4-font-size: em-calc(30);
$h4-span-font-size: em-calc(20);
// we use h4 for a lot
h4 {
    font-height: 1em;
    font-weight: 500;
}

//- Header Line Height
$header-height: em-calc(54);

$h1-line-height: $header-height - em-calc(4);
$h2-line-height: em-calc(22);
$h3-line-height: em-calc(20);
$h4-line-height: em-calc(20);

//- ******************
//- BUTTONS
//- ******************

button, .button {
    border-radius: $global-radius;
    box-shadow: none;
    margin-left: 2px;
    margin-right: 2px;
}

button.small, .button.small {
    padding-left: 24px;
    padding-right: 24px;
}

button.secondary, .button.secondary {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    font-family: $font-helvetica;
    color: white;
}

button.tag, .button.tag {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    font-family: $font-helvetica;
    color: #9e9e9e;
    background-color: #e8e8e8;
    border: 0;
}

//- ******************
//-  Navigation
//- ******************

//- Top Bar

$bar-index: 99;
$side-bar-width: em-calc(62);

.top-bar {
    
    font-family: $font-helvetica;
    font-weight: $font-semi-bold;
    z-index: $bar-index;
    
    .title-area {
        
        .name h1 {

            font-family: inherit;

            a {
                color: $text-title;
            }
        }

        .icon {
            height: $topbar-height;
            width: $side-bar-width;
            background-color: $darkergrey;

            @extend .center;

            img {
                width: em-calc(50);
                height: em-calc(50);
            }
        }
    }

    .top-bar-section {
        
        .has-dropdown > a {
            padding-right: $topbar-height / 3 + 10 !important;
        }

        .right {

            background-color: $darkgrey;

            li {

                height: $topbar-height;
                padding: em-calc(6) $zero;
                line-height: em-calc(38);
                a {

                    line-height: $topbar-height;
                    font-weight: $font-semi-bold;

                    img.avatar-tiny {
                        margin: em-calc(5);
                    }
                }

                button {
                    margin: $zero em-calc(10);
                }
            }
        }
    }   
}

//- Side Bar

.side-nav {
    @extend .hide-for-medium-down;
    
    width: $side-bar-width;
    height: $row-height;
    padding-top: $topbar-height + em-calc(24);
    top: $zero;

    @extend .center;
    @include position(fixed);

    background-color: $blue;
    z-index: $bar-index - 1;

    li.option {

        @include position(relative);

        &.active > a:after {
            @extend .draw-arrow-left;
        }

        a { 
            &:hover {
                color: $white;

                &:after {
                    @extend .draw-arrow-left;
                }
            }
        }
        

    }
}

//- ******************
//- CONTENT
//- ******************

.section-title-font {
    @include set-header($font-open-sans, $h2-font-size, $font-bold, $black, $h2-line-height);
}

.article-title-font {

    @include set-header($font-helvetica, $h3-font-size, $font-bold, $grey-three, $h3-line-height);
    @extend .uppercase;
    
    .subheader {
        @include set-header ($font-open-sans, $h3-font-size, $font-bold, $black, $h3-line-height);
        @extend .no-margin;
        @extend .lowercase;
    }
}

.big-number-font {
    @include set-header($font-helvetica-ultra-light, $h4-font-size, $font-thin, $darkgrey, $h4-line-height);
    @extend .no-margin;
}

.content {

    @include grid-row();
    overflow: hidden;
    // margin-top: $topbar-height;

    .header-content {

        @include grid-row();
        @include content-padding(true);
        padding-bottom: 1.4em;
        padding-top: 1.4em;
        min-height: $topbar-height * 1.6;

        h1 {
            font-size: 1.6em;
            font-weight: 500;
        }
        h2 {
            font-size: 1em;
            font-family: $font-helvetica;
            font-weight: $font-semi-bold;
        }
            
    }

    .content-body {

        @include grid-row();
        @include content-padding(true);
        padding-top: 1.6em;
        background-color: $grey-one;

        section {
            margin-bottom: 2em;
        }

        
        .content-body-left {

            @media #{$small} { 
                @include grid-column(12);
            }
            @media #{$medium} { 
                @include grid-column(7);
            }
            @media #{$large} { 
                @include grid-column(7);
            }

            margin-left: $zero;
            padding-left: $zero;


            .contacts, .gmails {
                margin-top: em-calc(5);
                .contact-item, .gmail-item {
                    &:hover { 
                    @include single-box-shadow;
                    }
                    @include grid-row();
                    margin-bottom: em-calc(10);
                    padding-top: em-calc(10);
                    background-color: $white;
                }
            }

            .actions {

                h2 {
                    @extend .section-title-font;
                }


                .actions-item {

                    &:hover { 
                    @include single-box-shadow;
                    }
                    &.made {
                        background-color: $darkergrey;
                    }
                    &.received {
                        background-color: $darkgrey;
                    }
                    @include grid-row();
                    padding-bottom: $zero;
                    margin-bottom: em-calc(5);
                    height: em-calc(95);

                    .avatars {
                        @include grid-column(1);
                        @extend .left;
                        @extend .hide-for-small;
                        min-width: em-calc(40);
                        height: em-calc(95);
                        vertical-align: middle;

                        padding-right: $zero;

                        img {
                            float: left;
                            margin: em-calc(1);
                        }
                    }

                    .actions-content {
                        @include grid-column(8);
                        padding-top: em-calc(5);
                        padding-bottom: em-calc(5);
                        margin-bottom: $zero;
                        background-color: $white;
                        height: em-calc(95);

                        h3 {
                            @extend .article-title-font;
                        }

                        p {
                            font-family: $font-helvetica;
                            font-size: $h3-font-size;
                            color: $grey-three;
                            margin-bottom: $zero;
                        }
                    }

                    .request-feedback {
                        @include grid-column(3);
                        background-color: $white;
                        height: em-calc(95);
                        padding-left: 10%;
                        padding-right: $zero;

                    }
                }


            }

                    
            .recent-intros-feedback {

                h2 {
                    @extend .section-title-font;
                }

                .feedback-item {

                    &:hover { 
                    @include single-box-shadow;
                    }

                    @include grid-row();
                    margin-bottom: em-calc(10);
                    background-color: $white;
                    padding-top: em-calc(10);

                    .avatars {
                        @include grid-column(1);
                        @extend .left;
                        @extend .hide-for-small;

                        padding-right: $zero;

                        img {
                            float: left;
                            margin: em-calc(1);
                        }
                    }

                    .feedback-content { 
                        @include grid-column(11);

                        h3 {
                            @extend .article-title-font;
                        }

                        p {
                            font-family: $font-helvetica;
                            font-size: $h3-font-size;
                            color: $grey-three;
                        }
                    }

                    .tags {
                        @include grid-column(11, false, 1);
                    }
                }

            }

            .recent-intros-you {

                h2 {
                    @extend .section-title-font;
                }

                .to-you-item {
                    @include grid-row();

                    margin-bottom: em-calc(18);

                    h3 {
                        @extend .article-title-font;
                    }

                    p {
                        font-family: $font-helvetica;
                        font-size: $h3-font-size;
                        color: $grey-three;
                    }
                }

            }


        }

        .content-body-right {


            @media #{$small} { 
                @include grid-column(12);
            }
            @media #{$medium} { 
                @include grid-column(4);
            }
            @media #{$large} { 
                @include grid-column(4);
            }

            margin-

            .timeline {
                padding-bottom: 1em;
                p {
                    margin-bottom: $zero;
                    &:hover {
                        font-weight: $font-bold;
                    }
                }
            }

            .graphs {

                @include grid-row();
                margin-bottom: 2em;

                .graph {
                    @include grid-column(6);

                    margin-bottom: em-calc(30);
                    padding-left:$zero;

                    h3 {
                        @extend .article-title-font;
                        @extend .center;
                    }

                    h4 {
                        @extend .big-number-font;
                        @extend .center;

                        span {

                            font-size: em-calc(8);
                            @extend .uppercase;
                            &:before {
                                content: ' ';
                            }
                        }
                    }

                    .bar-chart {
                        height: em-calc(52);
                        width: em-calc(126);
                        margin: $zero auto;
                    }
                }

            }

            .most-introduced {

                h2 {
                    @extend .section-title-font;
                }

                .most-introduced-item {

                    @include grid-row();

                    margin-bottom: em-calc(30);

                    .person-item {
                        @include grid-column(6);

                        padding: $zero;
                        margin-bottom: em-calc(16);

                        img {
                            border-radius: em-calc(30);
                            float: left;
                            margin: em-calc(6);
                        }

                        .name-person {
                            margin-top: em-calc(10);
                            line-height: em-calc(20);
                            font-size: em-calc(14);

                            a {
                                color: $blue;
                            }
                        }
                    }
                }

            }

            section {
                background-color: $white;
                padding-top: em-calc(10);
                padding-bottom: em-calc(10);
                padding-left: em-calc(10);
                padding-right: em-calc(10);
                margin-bottom: em-calc(20);
            }

            .leave-note {

                h2 {
                    @extend .section-title-font;
                }

                .note-item {

                    @include grid-row();

                    .note-content {
                        @include grid-column(10, false, false, false, false, false, true);

                        textarea {
                            color: $grey-three;
                            font-size: em-calc(13);
                            border: 1px solid $grey-two;
                            padding: em-calc(16);
                            min-height: em-calc(104);
                            margin-bottom: em-calc(20);
                        }

                        .submit {
                            background-color: $grey-three!important;
                            border: $zero;
                            float: right;
                        }
                        
                    }
                }

            }

        }

    }

}

// This is for the individual intro page
.introduction-detail-item {
    textarea {
        color: $grey-three;
        font-size: em-calc(13);
        border: 1px solid $grey-two;
        padding: em-calc(16);
        min-height: em-calc(400);
        // margin-bottom: em-calc(20);
        &[disabled] {
            background-color: $white;
        }
    }
    header {
        @include grid-row();
        &:hover { 
        @include single-box-shadow;
        }
        &.made {
            background-color: $darkergrey;
        }
        &.received {
            background-color: $darkgrey;
        }
        @include grid-row();
        padding-bottom: $zero;
        margin-bottom: em-calc(5);
        height: em-calc(95);

        .avatars {
            @include grid-column(1);
            @extend .left;
            @extend .hide-for-small;
            min-width: em-calc(40);
            height: em-calc(95);
            vertical-align: middle;

            padding-right: $zero;

            img {
                float: left;
                margin: em-calc(1);
            }
        }

        .content {
            @include grid-column(8);
            padding-top: em-calc(5);
            padding-bottom: em-calc(5);
            margin-bottom: $zero;
            background-color: $white;
            height: em-calc(95);

            h3 {
                @extend .article-title-font;
            }

            p {
                font-family: $font-helvetica;
                font-size: $h3-font-size;
                color: $grey-three;
                margin-bottom: $zero;
            }
        }

        .actions {
            @include grid-column(3);
            background-color: $white;
            height: em-calc(95);

        }
    }
}


footer {

    margin-top: em-calc(30);
    float: right;
    position: fixed;
    bottom: $zero;
    right: $zero;
    @extend .hide-for-small;

    .contact {

        @include single-box-shadow;
        margin-right: em-calc(80);
        width: em-calc(312);
        height: em-calc(76);
        overflow: hidden;
        background-color: $darkgrey;
        opacity: 0.8;
        padding: em-calc(16); 
        text-align: center;
        color: $white;
        border-radius: 5px 5px 0px 0px;
        border: 2px solid white;
        border-bottom-width: 0px;

        &:hover {
            opacity: 1;
        }

        img {
            float: left;
            width: 40px;
            height: 40px;
        }

        h5 {
            @include set-header($font-open-sans, em-calc(13), $font-bold, $white, em-calc(18));
            // @extend .uppercase;
            color: inherit;
        }

        a {
            color: inherit;
            @include set-header($font-helvetica, em-calc(13), $font-normal, $white, em-calc(18));
        }
    }
}

// Resource page
.resource-items {
    .resource {
        @include grid-column(4);
        .content {
            min-height: em-calc(430);
            height: em-calc(430);
            background-color: $white;
            margin: em-calc(25);
            @include single-box-shadow;
        p, h1, h2, h3, h4, h5, h6 {
            padding-left: em-calc(10);
            padding-right: em-calc(10);
            line-height: 1.1;
        }
    }

    }
}
