body.static {
    color: $darkergrey;
}

p.indent {
  padding-left: em-calc(15)
}

.white-bg {
    background-color: $white;
}

.faq-items {
    @include grid-row();
    color: $darkergrey;

    .question {
        font-weight: bold;
    }

}
