{% extends 'djfrontend/base.html' %}
{% block body_content %}
{% include 'partials/header.html' %}
    {% block inner_content %}
<div class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
  <div>
      object = {{ object }}
  </div>

</div><!-- /.container -->
    {% endblock %}
    <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Built with love in Nicaragua by <a href="http://twitter.com/alexlovelltroy" target="_blank">@alexlovelltroy</a>.</p>
      </footer>
{% endblock %}
