{% extends "djfrontend/base.html" %}
{% load djfrontend %}
{% block head_css %}
{% djfrontend_normalize %}
{% djfrontend_twbs_css %}
{% endblock %}

{% block body_content %}
{% include 'partials/header.html' %}
<div class="container">
  <header class="jumbotron subhead">
    <h1>Dashboard</h1>
  </header>
  <div>
    <ul>
      <li><a href="{% url 'introductions:introduction_list'  %}">Introduction List</a></li>
    </ul>
  </div>
    <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Built with love in Nicaragua by <a href="http://twitter.com/alexlovelltroy" target="_blank">@alexlovelltroy</a>.</p>
      </footer>
</div><!-- /.container -->
{% endblock %}
